{% extends "userMain.html" %}
{% load static %}
{% block title %}داشبورد{% endblock title %}

{% block js %}
    <script src="{% static 'assets/js/bundle.js' %} "></script>
    <script src="{% static 'assets/js/scripts.js' %} "></script>
    <script  type="module" src="{% static 'assets/js/chart.js' %}"></script>
    <script src="{% static 'assets/js/demo-settings.js' %} "></script>
{% endblock js %}

{% load custom_tags2 %}
{% load jformat %}
{% block content %}

    <div class="nk-content">
        <div class="container-fluid">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    <div class="nk-block-head nk-block-head-sm">
                        <div class="nk-block-between">
                            <div class="nk-block-head-content">
                                <h3 class="nk-block-title page-title">به زودی ...</h3>
                                <div class="nk-block-des text-soft">
                                    <p>{{today|jformat:"%A %d %B | %H:%M"}}</p>
                                </div>
                            </div>
                            <!-- .nk-block-head-content -->
                        </div>
                        <!-- .nk-block-between -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--in cdn soraat ro kam mikone baadan taghiresh bede-->
    <!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->

{% endblock content %}

