{% extends "adminMain.html" %}
{% block title %}همه نوبت ها{% endblock title %}
{% load static %}
{% load jformat %}
{% load custom_tags %}
{% load custom_tags2 %}
{% block js %}
    <script src="{% static 'assets/js/bundle.js' %} "></script>
    <script src="{% static 'assets/js/scripts.js' %} "></script>
    <script src="{% static 'assets/js/demo-settings.js' %} "></script>

{% endblock js %}


{% block content %}


<div class="nk-content">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">

                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        {% if messages %}
                            // Create an empty array to store the messages
                            var messagesArray = [];

                            // Loop through each message and push it to the messagesArray
                            {% for message in messages %}
                                messagesArray.push("{{ message|safe }}");
                            {% endfor %}

                            // Join the messagesArray with line breaks
                            var messageText = messagesArray.join("\n");

                            // Display the SweetAlert modal with the messages
                            Swal.fire({
                                title: 'توجه',
                                html: '<ul class="messages"><li>' + messageText + '</li></ul>',
                                icon: 'warning'
                            });
                        {% endif %}
                        
                    });
                    $(document).ready(function() {
                        $('#day-select').change(function() {
                            var selectedDay = $(this).val();
                            $.ajax({
                                url: '{% url "get_free_times" %}',
                                type: 'POST',
                                dataType: 'json',
                                data: {
                                    day: selectedDay,
                                    csrfmiddlewaretoken: '{{ csrf_token }}'
                                },
                                success: function(response) {
                                    var free_apps = response.free_apps;
                                    var show = response.show;
                                    $('#free-appointments').empty();
                                    for (var i = 0; i < free_apps.length; i++) {
                                        $('#free-appointments').append(`<option value="${show[i]}" >` + free_apps[i] + '</option>');
                                    }
                                },
                                error: function(xhr, errmsg, err) {
                                    console.log(xhr.status + ": " + xhr.responseText);
                                }
                            });
                        });
                    });
                </script>


                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">نوبت ها</h3>
                            <div class="nk-block-des text-soft">
                                <p>{{now|jformat:"%A %d %B | %H:%M"}}</p>
                            </div>
                        </div>
                        <!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="more-options"><em class="icon ni ni-more-v"></em></a>
                                <div class="toggle-expand-content" data-content="more-options">
                                    <ul class="nk-block-tools g-3">
                                        <li>
                                            <div class="drodown">
                                                <a href="#" class="dropdown-toggle dropdown-indicator btn btn-outline-light btn-white" data-bs-toggle="dropdown">فیلتر</a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li>
                                                            <a href="{% url 'Appointments' %}"><span>همه</span></a>
                                                        </li>
                                                        <li>
                                                            <a href="{% url 'Appointments' %}?t=True"><span>امروز</span></a>
                                                        </li>
                                                        <li>
                                                            <a href="{% url 'Appointments' %}?a=True"><span>فردا</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nk-block-tools-opt">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalAddAppointment" class="btn btn-icon btn-primary d-md-none"><em class="icon ni ni-plus"></em></a>
                                            <button type="button" class="btn btn-primary d-none d-md-inline-flex" data-bs-toggle="modal" data-bs-target="#modalAddAppointment"><em class="icon ni ni-plus"></em><span>افزودن نوبت</span></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- .nk-block-head-content -->
                    </div>
                    <!-- .nk-block-between -->
                </div>

                <!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="row g-gs">
                        {% for appointment in page_obj %}
                        <script>
                            $(document).ready(function() {
                                $('#dayselect{{appointment.id}}').change(function() {
                                    var selectedDayUpdate = $(this).val();
                                    $.ajax({
                                        url: '{% url "get_free_times" %}',
                                        type: 'POST',
                                        dataType: 'json',
                                        data: {
                                            day: selectedDayUpdate,
                                            csrfmiddlewaretoken: '{{ csrf_token }}'
                                        },
                                        success: function(response) {
                                            var free_apps = response.free_apps;
                                            var show = response.show;
                                            $('#free-appointments{{appointment.id}}').empty();
                                            for (var i = 0; i < free_apps.length; i++) {
                                                $('#free-appointments{{appointment.id}}').append(`<option value="${show[i]}" >` + free_apps[i] + '</option>');
                                            }
                                        },
                                        error: function(xhr, errmsg, err) {
                                            console.log(xhr.status + ": " + xhr.responseText);
                                        }
                                    });
                                });
                            });
                        </script>
                        <div class="col-md-6 col-xxl-3">
                            <div class="card card-bordered pricing">
                                {% if appointment.status == "free" %}
                                <span class="pricing-badge badge bg-teal">فعال</span>
                                {% else %}
                                <span class="pricing-badge badge bg-danger">منقضی</span>
                                {% endif %}
                                <div class="pricing-head">
                                    <div class="pricing-title">
                                        <a href="{% url "Users_detail" appointment.user.id %}" style="color:var(--bs-heading-color)"><h4 class="card-title title">{{appointment.user.name}} {{appointment.user.last_name}}</h4></a>
                                    </div>
                                    <div class="card-text">
                                        <div class="row">
                                            <div class="col-6">
                                                <span class="h4 fw-500">{{appointment.time|import12to24}}</span>
                                                <span class="sub-text">ساعت</span>
                                            </div>
                                            <div class="col-6">
                                                <span class="h6 fw-400">{{appointment.day|jformat:"%A %d %B"}}</span>
                                                <span class="sub-text">روز نوبت</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pricing-body">
                                    <ul class="pricing-features">
                                        <li>
                                            <span class="w-50">تا نوبت :</span> 
                                            {% if appointment.day == now.date %}                                         
                                                <span class="ms-auto">{{appointment.time_difference|hour_minutes}}</span>
                                            {% else %}                                                                   
                                                <span class="ms-auto">{{appointment.time_difference|hour_minutes}}</span>
                                            {% endif %}                                                                   
                                            
                                        </li>
                                        <li>
                                            <span class="w-50">تلفن:</span>  
                                            <span class="ms-auto fw-bold text-success">{{appointment.user.username}}</span>
                                        </li>
                                    </ul>
                                    <div class="pricing-action">
                                        <a href="#" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalupdateappointment-{{appointment.id}}" >آپدیت نوبت</a>
                                        <a href="#" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modaldeleteappointment-{{appointment.id}}" >حذف نوبت</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--modal delete user start-->
                        <div class="modal fade" tabindex="-1" id="modaldeleteappointment-{{appointment.id}}">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross"></em></a>
                                    <div class="modal-body modal-body-lg text-center">
                                        <div class="nk-modal">
                                            <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-alert bg-danger"></em>
                                            <h4 class="nk-modal-title">توجه کنید!</h4>
                                            <div class="nk-modal-text">
                                                <div class="caption-text"> آیا مطمئن هستید که نوبت<span class="fw-bold"> {{appointment.user.name}} {{appointment.user.last_name}} </span> را برای تاریخ <span class="fw-bold">{{appointment.day|jformat:"%A %d %B"}}</span> و ساعت <span class="fw-bold">{{appointment.time|import12to24}}</span> حذف کنید ؟</div>
                                            </div>
                                            <form method="POST" action='{% url "DeleteAppointment" appointment.id %}'>
                                                {% csrf_token %}
                                                <div class="nk-modal-action">
                                                    <button class="btn btn-lg btn-mw btn-primary">بله</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--modal delete user end-->


                         
                        <!--modal update appointment start-->
                        <div class="modal fade" id="modalupdateappointment-{{appointment.id}}">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">اطلاعات کاربر</h5>
                                        <a href="#" class="close" data-bs-dismiss="modal" aria-label="بستن">
                                            <em class="icon ni ni-cross"></em>
                                        </a>
                                    </div>
                                    <div class="modal-body">
                                        <form action='{% url "UpdateAppointments" appointment.id %}' method="POST" class="form-validate is-alter">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label class="form-label">نام کاربر</label>
                                                <div class="form-control-wrap">
                                                    <select class="form-select js-select2" id="" name='user' >
                                                        <option value="{{appointment.user.id}}" >{{appointment.user.id}} {{appointment.user.last_name}} -- ({{appointment.user.username}})</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="email-address" >روز نوبت</label>
                                                <div class="form-control-wrap" >
                                                    <select class="form-select js-select2" id="dayselect{{appointment.id}}" name="day">
                                                        <option value="#" >انتخاب کنید</option>
                                                        {% for day in validateWeekdays %}
                                                            <option value="{{day|date:'Y-m-d'}}" >{{day|jformat:"%A | %d %B"}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">ساعت</label>
                                                <div class="form-control-wrap">
                                                    <select class="form-select js-select2" id="free-appointments{{appointment.id}}"  name='time'>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-lg btn-primary">آپدیت نوبت</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer bg-light">
                                        <span class="sub-text">ایماژ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--modal update appointment end-->
                        

                        {% endfor %}




                        <!--modal add appointment start-->
                        <div class="modal fade" id="modalAddAppointment">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">اطلاعات کاربر</h5>
                                        <a href="#" class="close" data-bs-dismiss="modal" aria-label="بستن">
                                            <em class="icon ni ni-cross"></em>
                                        </a>
                                    </div>
                                    <div class="modal-body">
                                        <form action='{% url "AddAppointment" %}' method="POST" class="form-validate is-alter">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label class="form-label">نام کاربر</label>
                                                <div class="form-control-wrap">
                                                    <select class="form-select js-select2" type="text" name='user'>
                                                        {% for user in users %}
                                                            <option value="{{user.id}}" >{{user.name}} {{user.last_name}} -- ({{user.username}})</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="email-address">روز نوبت</label>
                                                <div class="form-control-wrap" >
                                                    <select class="form-select js-select2" id="day-select" name="day">
                                                        <option value="#" >انتخاب کنید</option>
                                                        {% for day in validateWeekdays %}
                                                            <option value="{{day|date:'Y-m-d'}}" >{{day|jformat:"%A | %d %B"}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">ساعت</label>
                                                <div class="form-control-wrap">
                                                    <select class="form-select js-select2" id="free-appointments" name='time'>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-lg btn-primary"> ثبت نوبت</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer bg-light">
                                        <span class="sub-text">ایماژ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--modal delete user end-->
                        
                        <div class="card-inner">
                            <div class="nk-block-between-md g-3">
                                <div class="g">
                                    <ul class="pagination justify-content-center justify-content-md-start">
                                        {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><em class="icon ni ni-chevrons-left"></em></a>
                                        </li>
                                        {% endif %}
                                        
                                        {% for num in page_obj.paginator.page_range %}
                                            <li class="page-item{% if page_obj.number == num %} active{% endif %}">
                                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                            </li>
                                        {% endfor %}
                            
                                        {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}"><em class="icon ni ni-chevrons-right"></em></a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                    <!-- .pagination -->
                                </div>
                            </div>
                            <!-- .nk-block-between -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}